

body{
	width: 84%;
	margin:auto;
	margin-top: 2%;
	font-family: arial, Helvetica, sans-serif;
	word-wrap: break-word;
	line-height: 1.6em;


}

.container{
	background-color: #eee;
	border-radius: 10px;
}

a{
	text-decoration: none;
	
}
a:hover{
	color: rgb(85, 7, 7);
}
a:visited{
	color: rgb(136, 7, 136);
}


#header{
	text-align: center;
	padding-top: 40px;
	font-size: 25px;
	line-height: 1.2em;
}
#section-a{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 0 5%;
	font-size: 14px;
}

#section-b{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	margin: 2% 5%;
}

#section-b img{
	border-radius: 50%;
}

figcaption{
	border: 1px solid #e3e3e3;
	background-color: #d3d3d3;
	padding: 10px;
	font-size: 14px;
}

#section-c{
	margin: 5%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 25px;
}
#section-c ul:first-child{
	font-weight: bold;
}

#section-c .italic{
	text-align: center;
}
#section-c ul, .italic{
	font-size: 14px;
}

footer{
	font-size: 14px;
	padding-bottom:0;
	font-style: italic;
}







